
/Debug_PMAS/src/CallBack.o
/Debug_PMAS/src/ISSUE.o
/.settings/
/Debug_RPI3/
*.orig
*.pexe
/.settings/
/.settings/*.xml
/src/Debug/*
/.settings/*.xml
/src/fb.bat
/src/pmas_foe.vcxproj_Debug_x86.bff
/src/pmas_foe.vcxproj_Debug_x86.windows.fdb
/src/pmas_foe.VC.*
/Debug/*
